@{
    ViewBag.Title = "Home Page";
}

<table class="calendar">
    <tr>
        <td class="prev-next-btn"><a href="#">prev</a></td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
        <td class="prev-next-btn">next</td>
    </tr>
    <tr>
        <td>W01 2018</td>
        @foreach(var day in ViewBag.week) {
            <td>
               @day
            </td>
        }
        <td>W01 2018</td>
    </tr>
    <tr>
        <td>W02 2018</td>
        @*@foreach (var day in week[1])
        {
            <td></td>
        }*@
        <td>W02 2018</td>
    </tr>
    <tr>
        <td>W03 2018</td>
       @*@foreach (var day in week[1])
    {
        <td></td>
    }*@
        <td>W03 2018</td>
    </tr>
    <tr>
        <td>W04 2018</td>
        @*@foreach (var day in week[1])
    {
        <td></td>
    }*@
        <td>W04 2018</td>
    </tr>
    <tr>
        <td class="prev-next-btn">prev</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
        <td class="prev-next-btn">next</td>
    </tr>
</table>